body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 200px;
    background-color: #02732A;
    border-bottom: 2px solid black;
    position: absolute;
    top: 200px;
    z-index: 9;
    transition: background-color 1s linear;
}

.car {
    width: 15%;
    position: absolute;
    bottom: 0;
    left: 50px;
    z-index: 20;
    transition: left 500ms linear ;
}

.tree {
    width: 15%;
    position: absolute;
    bottom: -35px;
    left: 10%;
    z-index: 30;
    transition: left 200ms linear;
    -webkit-filter: drop-shadow(30px 0px 50px #000);
    filter: drop-shadow(30px 0px 50px #000);
}
.tree2 {
    width: 15%;
    position: absolute;
    bottom: -35px;
    left: 45%;
    z-index: 30;
    transition: left 200ms linear;
    -webkit-filter: drop-shadow(30px 0px 50px #000);
    filter: drop-shadow(30px 0px 50px #000);
}
.tree3 {
    width: 15%;
    position: absolute;
    bottom: -35px;
    left: 75%;
    z-index: 30;
    transition: left 200ms linear;
    -webkit-filter: drop-shadow(30px 0px 50px #000);
    filter: drop-shadow(30px 0px 50px #000);
}
.house1 {
    width: 15%;
    position: absolute;
    bottom: 50px;
    left: 30%;
    z-index: 10;
    transition: left 200ms linear;
    -webkit-filter: drop-shadow(30px 0px 30px #000);
    filter: drop-shadow(30px 0px 30px #000);
}
.house2 {
    width: 15%;
    position: absolute;
    bottom: 50px;
    left: 60%;
    z-index: 10;
    transition: left 200ms linear;
    -webkit-filter: drop-shadow(30px 0px 30px #000);
    filter: drop-shadow(30px 0px 30px #000);
}
.sky {
    width: 100%;
    height: 300px;
    background-color: #3D6AF2;
    top: 0;
    left: 0;
    transition: background-color 1s linear;
}
.sun {
    width: 100px;
    border-radius: 50%;
    background-color: #F2E205;
    position: absolute;
    height: 100px;
    z-index: 0;
    top: 250px;
    right: 0;
    transition: top 20ms linear;
}
.cloud {
    width: 20%;
    position: absolute;
    top: 50px;
    left: -10%;
    z-index: 8;
    -webkit-filter: drop-shadow(30px 0px 30px #000);
    filter: drop-shadow(30px 0px 30px #000);
}
.cloud2 {
    width: 20%;
    position: absolute;
    top: 20px;
    right: -10%;
    z-index: 8;
    -webkit-filter: drop-shadow(30px 0px 30px #000);
    filter: drop-shadow(30px 0px 30px #000);
}
.title-place {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 40px;
    top: 150px;
    width: calc(100% - 80px);
}

.title-simbol {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180px;
    text-align: center;
    position: relative;
    width: 100%;
    height: 220px;
    user-select: none;
}
.dream {
    display: block;
    text-align: center;
    width: 100%;
    height: 0;
    background-color: white;
    position: absolute;
    overflow: hidden;
    top: 0;
    animation: dream 20s ease infinite;
    z-index: 2;
}
.greenvill {
    display: block;
    text-align: center;
    width: 100%;
    background-color: white;
    position: absolute;
    overflow: hidden;
    top: 0;
}
.place {
    display: block;
    text-align: center;
    width: 100%;
    background-color: white;
    position: absolute;
    overflow: hidden;
    height: 0;
    top: 0;
    animation: place 20s ease infinite;
    z-index: 3;
}
.delimiter {
    display: flex;
    width: 100%;
    background-color: black;
    position: absolute;
    height: 10px;
    top: 0;
    animation: upDown 20s ease infinite;
    z-index: 4;
}
.delimiter2 {
    display: flex;
    width: 100%;
    background-color: black;
    position: absolute;
    height: 10px;
    top: 0;
    animation: upDown2 20s ease infinite;
    z-index: 4;
}

@keyframes upDown {
    from {top: 0}
    25% {top: 0}
    50% {top: 100%}
    75% {top: 100%}
    to {top: 0}
}
@keyframes upDown2 {
    from {top: 0}
    25% {top: 0}
    50% {top: 100%}
    75% {top: 0}
    to {top: 0}
}
@keyframes dream {
    from {height: 0}
    25% {height: 0}
    50% {height: 100%}
    75% {height: 100%}
    to {height: 0}
}
@keyframes place {
    from {height: 0}
    25% {height: 0}
    50% {height: 100%}
    75% {height: 0}
    to {height: 0}
}

@media (max-width: 800px) {
    .title-simbol {
        font-size: 40px;
        height: 80px;
    }
}